*{
    margin: 0;
    padding: 0;
    list-style: none;
    /*清除列表样式*/
}
a{
    text-decoration: none;
    /*清楚a链接下划线*/
}
img{
    display: block
}
body{
    background-color: #fff;
    font-family: 微软雅黑;
}

header{
    width: 100%;
    height: 104px;
    background-color: #FAFAFA;
}
.bp{
    width: 1349px;
    height: 658px;
    position: fixed;
    z-index: -1;
    background: url('../img/b1.jpg') no-repeat;
    background-size: 100% 100%;
}
.head{
    width: 1200px;
    height: 104px;
    margin: 0 auto;
}
.head>img{
    display: block;
    float: left;
    margin: 14px 47px 0 0 ;
}
.pilot{
	width: 750px;
	height: 83px;
	float: right;
	position: relative;
	margin: 19px 0 0 18px;
}


.pull1{
	width: 142px;
	height: 0px;
	border-radius: 10px;
	position: absolute;
	background:#fff ;
	transition: all 0.5s;
	top: 85px;
	left: 132px;
	z-index: 30;
    overflow: hidden;
    box-sizing: border-box;
	opacity: 0;
}
.pull2{
	width: 142px;
	height: 0px;
	border-radius: 10px;
	position: absolute;
	background:#fff ;
	transition: all 0.5s;
	top: 85px;
	left: 250px;
    z-index: 30;
    box-sizing: border-box;
	overflow: hidden;
	opacity: 0;
}
.head li{
	width: 100%;
	height: 36px;
	font-size: 14px;
	line-height: 36px;
	float: left;
	color: #888;
	padding-left: 20px;
	box-sizing: border-box;
}

.qian{
    width: 70px;
    height: 85px;
    float: left;
}
.pilot>a{
    width: auto;
    line-height: 83px;
    display: block;
    font-size: 15px;
    float: left;
    margin: 0 20px 0 20px;
    color: rgb(113, 113, 113);
}
.pilot>.ding{
    border-bottom: 2px solid black;
}
.pilot>a:hover{
    border-bottom: 2px solid black;
    transition: all 0.3s;
}

.picture{
    width: 100%;
    height: 193px;
    position: relative;
    background: url('../img/b2.jpg') no-repeat ;
    opacity: 0.8;
    overflow: hidden;
    background-size: 100% 450px;
    background-position: 0 -150px;
    z-index: 10;
}
.shang{
    width: 100%;
    height: 39px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    line-height: 39px;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'SimSuncss';
}
.xia{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 105px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.middle{
    width:100%;
    height: 129px;
}
.middle-con{
    width: 1200px;
    height: 93px;
    padding-top: 36px;
    margin: 0 auto;
}
.middle-con>p{
    font-family: 微软雅黑;
}
.middle-con>.l1{
    width: auto;
    height: auto;
    font-size: 20px;
    padding-bottom: 10px;
}
.middle-con>.l2{
    width: auto;
    height: auto;
    margin-top: 10px;
    color: #b9b9b9;
    font-size: 14px;
}
.content{
    width: 1200px;
    height: 1060px;
    margin: 0 auto;

}


.items{
    display: block;
    width: 387px;
    height: 322px;
    margin: 15px 4px 4px;
    box-sizing: border-box;
    float: left;
    transition: all 0.5s;
}
img{
    transition: all 0.5s;
}
.items .pic{
    overflow: hidden;
}

.items:hover img{
    transform: scale(1.1);
}


a>span{
    display: block;
    color: rgb(51, 51, 51);
    font-size: 18px;
    text-align: left;
    width: 100%;
    height: 27px;
    margin: 13px 0 5px 0;
}
.fenge{
    width: 1200px;
    height: 78px;
    margin: 0 auto;
}

.down{
    width:100%;
    height: 408px;
    background-color: #fbfbfb;
}
.down-con{
    width: 1200px;
    height: 408px;
    margin: 0 auto;
}
.con-ge{
    width: 1200px;
    height: 43px;
}
.con-up{
    width: 1200px;
    height: 234px;
}
.up-left{
    width: 400px;
    height: 141px;
    float: left;
}
.left-con{
    width: 192px;
    height: 109px;
    float: left;
    padding-top: 32px;
}
.left-con>p{
    width: 177px;
    height: 34px;
    cursor: pointer;
    line-height: 34px;
    font-size: 14px;

}
.up-center{
    width: 400px;
    height: 234px;
    float: left;
}
.up-center>h2{
    width: 100%;
    height: 34px;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
}
.up-center>h3{
    width: 100%;
    height: auto;
    text-align: left;
    color: rgba(31,37,38,.75);
    font-size: 14px;
    margin-top: 8px;
    word-wrap:break-word;
}
.up-right{
    width:400px;
    height: 217px;
    float: left;
}
.img-box{
    width: 153px;
    height: 153px;
    margin:16px auto;
}
.up-right>p{
    text-align: center;
    font-size: 14px;
    color: rgba(31,37,38,.75);
}
.mark{
    width: 100%;
    height: 40px;
    margin-top: 28px;
    border-bottom: 1px solid #a9a9a9;
}
.icon>span{
    font-size: 14px;
    text-align: left;
    color: #A9A9A9;
}
.bottom{
    width: 100%;
    height: auto;
    padding: 12px;
    font-size: 13px;
    text-align: center;
    color: #A9A9A9;
}